@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}

body {
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

h1{
  color: var(--color-heading);
  font-weight: 700;
}


.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.btn {
  padding: 12px 28px;
  font-weight: 700;
}

.btn-convert {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
}

.btn-brand:hover, 
.btn-brand:focus {
  background-color: var(--color-brand2);
  color: var(--color-base);
  border-color: var(--color-brand2);
}

#result {
  background-color: var(--color-base2);
  color: var(--color-brand2);
  border-color: var(--color-base);
}

.bgcolor {
  background-color: var(--color-base2);
  color: var(--color-brand2);
  border-color: var(--color-base);
}